<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">

    <display-name>Pain Report web app</display-name>

    <servlet>
        <servlet-name>PainReportImport</servlet-name>
        <servlet-class>org.cnmc.PainClinic.PainReportServer.web.PainReportImportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PainReportDisplay</servlet-name>
        <servlet-class>org.cnmc.PainClinic.PainReportServer.web.PainReportDisplayServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PainReportAction</servlet-name>
        <servlet-class>org.cnmc.PainClinic.PainReportServer.web.PainReportActionServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>PainReportImport</servlet-name>
        <url-pattern>/primport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PainReportDisplay</servlet-name>
        <url-pattern>/prdisplay</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PainReportAction</servlet-name>
        <url-pattern>/praction</url-pattern>
    </servlet-mapping>
</web-app>
